body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4648aa;
  color: #fff;
  padding: 0.7rem;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-right: 1rem;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  text-transform: none; /* Remove capitalization of header links */
}

.avatar {
  height: 50px;
  border-radius: 50%;
  padding-right: 0.7rem;
}

.main {
  display: flex;
  flex: 1;
}

/* <-------------------- Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
